<div class="container-fluid">

  <div class="add-page-tittle">
      <h5 class="add-section-heading my-3 text-center text-secondary">Certificate</h5>
  </div>

  <div class="bg-white py-5">
      <div class="row p-1 d-print-none">
          <div class="col-md-8">
              <form [formGroup]="certificate" (ngSubmit)="Submit()">

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-2">
                              <label class="control-label">Student ID:</label>
                          </div>
                          <div class="col-md-6">
                              <input class="form-control" formControlName="studentId" placeholder="Student ID: ZTAM100">
                              <div class="alert alert-danger" *ngIf="certificateData.studentId.invalid && (certificateData.studentId.dirty||certificateData.studentId.touched)">
                                  <div *ngIf="certificateData.studentId.errors.required">
                                      StudentId is required
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-2"></div>
                          <div class="col-md-6">
                              <button type="submit" class="btn btn-primary col-md-12" [disabled]="!certificate.valid ">Submit</button>
                          </div>
                      </div>
                  </div>

              </form>
          </div>
          <div class="col-md-4  ">
              <button class="btn btn-secondary" (click)="printCertificate()">Print</button> &nbsp;
              <button class="btn btn-secondary ">Send Email</button>
          </div>
      </div>

      <div class="certificate ">
          <div class="" class="certificatediv">
              <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                      <img src="../../../../assets/images/zoom1.png" class="zoom1 " alt="">
                  </div>
                  <div class="col-md-3 ">
                      <img src="../../../../assets/images/photo.jpg" alt="avatar" class="avatar">
                  </div>
              </div>

              <div class="content mt-3">
                  <div class="certificate-content">
                      <p>This is to certify that Mr. / Ms. <span><input type="text" class="certificate-name col-md-8"></span></p>
                      <p>Has successfully completed the Course in
                          <span><input type="text" class="course-name mt-2 col-md-12"></span></p>
                      <p>Start Date <span><input type="text" class="course-date"></span> End Date<span><input type="text" class="course-date"></span></p>
                      <p>Reference No.
                          <span><input type="text" class="last-input"></span> Date
                          <span><input type="text" class="last-input"></span> at
                          <span><input type="text" class="last-input"></span> Education Center.</p>
                  </div>
                  <div class="certificate-footer">
                      <div class="ml-auto">
                          <img src="../../../../assets//images/sign_certr1.png" class="sign ml-auto d-block" alt="">
                          <p class="text-right">Course Co-Ordinator</p>
                      </div>
                      <p class="text-center footer-last">Next to S.B.I, Road No.12, Banjara Hills, Hyderabad 500034, INDIA</p>
                  </div>
              </div>

          </div>
      </div>

  </div>
</div>
