<div class="container-fluid">
<h5 class="text-center text-secondary my-3">Student Details</h5>

  <form [formGroup]="addStudentForm" (ngSubmit)="Submit()">
    <div class="row bg-white mx-lg-5 p-3">

        <div class="col-12 col-lg-6">
          <h6>Personal Details</h6>
          <hr>

          <div class="form-group">
            <div class="row">
                <div class="col-md-4  my-auto">
                    <label class="control-label">First Name</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="firstName"  placeholder="First Name">
                    <div class="alert alert-danger" *ngIf="studentData.firstName.invalid && (studentData.firstName.dirty||studentData.firstName.touched)">
                        <div *ngIf="studentData.firstName.errors.required">
                            firstName  is required
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
          <div class="row">
              <div class="col-md-4  my-auto">
                  <label class="control-label">Last Name</label>
              </div>
              <div class="col-md-8">
                  <input class="form-control" formControlName="lastName" placeholder="Last Name">
                  <div class="alert alert-danger" *ngIf="studentData.lastName.invalid && (studentData.lastName.dirty||studentData.lastName.touched)">
                      <div *ngIf="studentData.lastName.errors.required">
                          lastName  is required
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
            <div class="col-md-4">
                <label class="control-label">Gender:</label>
            </div>
            <div class="col-md-6">

                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="male" formControlName="gender" value="male" name="gender" class="custom-control-input">
                    <label class="custom-control-label" for="male">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="female" formControlName="gender"  value="female" name="gender" class="custom-control-input">
                    <label class="custom-control-label" for="female">Female</label>
                </div>

                <div class="alert alert-danger" *ngIf="studentData.gender.invalid && (studentData.gender.dirty||studentData.gender.touched)">
                    <div *ngIf="studentData.gender.errors.required">
                        gender is required
                    </div>
                </div>
            </div>
        </div>
    </div>


          <div class="form-group">
            <div class="row">
                <div class="col-md-4  my-auto">
                    <label class="control-label">Mobile Number</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="mobileNumber"  placeholder="Mobile Number">
                    <div class="alert alert-danger" *ngIf="studentData.mobileNumber.invalid && (studentData.mobileNumber.dirty||studentData.mobileNumber.touched)">
                        <div *ngIf="studentData.mobileNumber.errors.required">
                            mobileNumber is required
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
          <div class="row">
              <div class="col-md-4  my-auto">
                  <label class="control-label">Email</label>
              </div>
              <div class="col-md-8">
                  <input class="form-control" formControlName="email" placeholder="Email">
                  <div class="alert alert-danger" *ngIf="studentData.email.invalid && (studentData.email.dirty||studentData.email.touched)">
                      <div *ngIf="studentData.email.errors.required">
                          email is required
                      </div>
                  </div>
              </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
              <div class="col-md-4  my-auto">
                  <label class="control-label">Address</label>
              </div>
              <div class="col-md-8">
                  <textarea class="form-control" formControlName="address" cols="20" rows="2" placeholder="Email">
                  </textarea>
                  <div class="alert alert-danger" *ngIf="studentData.address.invalid && (studentData.address.dirty||studentData.address.touched)">
                      <div *ngIf="studentData.address.errors.required">
                          address is required
                      </div>
                  </div>
              </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row mt-3">
              <div class="col-md-4">
                  <label class="control-label">Nationality:</label>
              </div>
              <div class="col-md-6">

                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="indian" formControlName="nationality"  value="indian" name="nationality" class="custom-control-input">
                      <label class="custom-control-label" for="indian">Indian</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="foreigner" formControlName="nationality"  value="foreigner" name="nationality" class="custom-control-input">
                      <label class="custom-control-label" for="foreigner">Foreigner</label>
                  </div>

                  <div class="alert alert-danger" *ngIf="studentData.nationality.invalid && (studentData.nationality.dirty||studentData.nationality.touched)">
                      <div *ngIf="studentData.nationality.errors.required">
                          nationality is required
                      </div>
                  </div>
              </div>
          </div>
      </div>

            <div class="form-group">
              <div class="row">
                  <div class="col-md-4  my-auto">
                      <label class="control-label">Qualification :</label>
                  </div>
                  <div class="col-md-8">
                      <input class="form-control" formControlName="qualification" placeholder="Qualification">
                      <div class="alert alert-danger" *ngIf="studentData.qualification.invalid && (studentData.qualification.dirty||studentData.qualification.touched)">
                          <div *ngIf="studentData.qualification.errors.required">
                              qualification is required
                          </div>
                      </div>
                  </div>
              </div>
          </div>


          <div class="form-group">
            <div class="row">
                <div class="col-md-4  my-auto">
                    <label class="control-label">If employed:</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="companyName"  placeholder="Company Name">
                    <!-- <div class="alert alert-danger" *ngIf="studentData.companyName.invalid && (studentData.companyName.dirty||studentData.companyName.touched)">
                        <div *ngIf="studentData.companyName.errors.required">
                            companyName is required
                        </div>
                    </div> -->
                </div>
            </div>
        </div>


        <div class="form-group">
          <div class="row">
              <div class="col-md-4  my-auto">
                  <label class="control-label">Branch Interested</label>
              </div>
              <div class="col-md-8">
                  <select class="form-control" formControlName="branch"  placeholder="Select Branch">
                    <option value="null"> Select Branch</option>
                    <option *ngFor = "let data of branch" [value]="data">{{data}}</option>
                  </select>
                  <div class="alert alert-danger" *ngIf="studentData.branch.invalid && (studentData.branch.dirty||studentData.branch.touched)">
                      <div *ngIf="studentData.branch.errors.required">
                          Branch is required
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="form-group">
        <div class="row">
            <div class="col-md-4  my-auto">
                <label class="control-label">Interested date of joining: </label>
            </div>
            <div class="col-md-8">
              <div class="input-group mb-3">
                <input class="form-control"  #dp1="bsDatepicker" bsDatepicker  formControlName="joiningDate"  placeholder="Date"  [bsConfig]="{ adaptivePosition: true }" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" (click)="dp1.toggle()" [attr.aria-expanded]="dp1.isOpen" id="basic-addon2"><i class="fas fa-calendar-alt"></i></span>
                </div>
             </div>
                <div class="alert alert-danger" *ngIf="studentData.joiningDate.invalid && (studentData.joiningDate.dirty||studentData.joiningDate.touched)">
                    <div *ngIf="studentData.joiningDate.errors.required">
                        joiningDate is required
                    </div>
                </div>
            </div>
        </div>
    </div>


        </div>
        <!-- course type tables -->
        <div class="col-12 col-lg-6">

          <div class="form-group">
            <div class="row mt-3">
                <div class="col-md-4">
                    <label class="control-label">Choose Course Type:</label>
                </div>
                <div class="col-md-6">

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="course"   formControlName="courseType" value="course" name="courseType" class="custom-control-input">
                        <label class="custom-control-label" for="course">Course</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="coursePackage" formControlName="courseType" value="coursePackage" name="courseType" class="custom-control-input">
                        <label class="custom-control-label" for="coursePackage">Course Package</label>
                    </div>

                    <div class="alert alert-danger" *ngIf="studentData.courseType.invalid && (studentData.courseType.dirty||studentData.courseType.touched)">
                        <div *ngIf="studentData.courseType.errors.required">
                          courseType is required
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <table *ngIf="studentData.courseType.value === 'course'" class="table table-responsive-sm  table-bordered">
          <thead>
            <tr>
              <th>CourseName</th>
              <th>Starting Date</th>
              <th>Batch</th>
              <th>Course Seat</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let data of coursesDataarr">
                <td>
                  <input formControlName="courseName"  type="checkbox">
                  {{data}}
                </td>
                <td>
                  <select #dp2="bsDatepicker"  [bsConfig]="{ adaptivePosition: true }" bsDatepicker >
                    <option selected value="null">Select Date</option>
                  </select>
                </td>
                <td>
                  <select >
                    <option selected value="null">Select Batch</option>
                  </select>
                </td>
                <td></td>
              </tr>
          </tbody>
        </table>

        <table   *ngIf="studentData.courseType.value === 'coursePackage'" class="table table-responsive-sm table-bordered">
          <thead>
            <tr>
              <th>Course Package Name</th>
              <th>Course Names</th>
              <th>Branch Name</th>
            </tr>
          </thead>
          <tbody>
              <tr>
              </tr>
          </tbody>
        </table>

        <div class="form-group">
          <button class="btn btn-primary" [disabled]="!addStudentForm.valid" type="submit">Submit</button>
        </div>

        </div>


    </div>


  </form>
</div>


