<div class="container-fluid">
  <div class="bg-white mt-5 p-2">
      <h5>List of All Schedule</h5>
      <hr>
      <div class="row p-1">
          <div class="col-md-6  p-3">
            Show
            <select (change)="changeCount($event)" name="show">
                <option selected="selected" [value] ="coursePackageDatalist.length">All</option>
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
            </select> entries
          </div>
          <div class="col-md-3 ml-auto">
              <input type="search" placeholder="search" class="form-control" [(ngModel)]="term">
          </div>
      </div>
<!--Table data start  -->
      <table class="table table-bordered table-striped table-hover text-center table-responsive-sm">
        <thead>
            <tr>
                <th>S.no</th>
                <th (click)="order('courseName')">
                    Course Name
                    <i class="fa" [ngClass]="{'fa-sort': column != 'courseName', 'fa-sort-asc': (column == 'courseName' && isDesc), 'fa-sort-desc': (column == 'courseName' && !isDesc) }" aria-hidden="true"> </i>
                </th>
                <th (click)="order('startDate')">
                    Start Date
                    <i class="fa" [ngClass]="{'fa-sort': column != 'startDate', 'fa-sort-asc': (column == 'startDate' && isDesc), 'fa-sort-desc': (column == 'startDate' && !isDesc) }" aria-hidden="true"> </i>
                </th>
                <th (click)="order('endDate')">
                    End Date
                    <i class="fa" [ngClass]="{'fa-sort': column != 'endDate', 'fa-sort-asc': (column == 'endDate' && isDesc), 'fa-sort-desc': (column == 'endDate' && !isDesc) }" aria-hidden="true"> </i>
                </th>
                <th (click)="order('batch')">
                    Batch
                    <i class="fa" [ngClass]="{'fa-sort': column != 'batch', 'fa-sort-asc': (column == 'batch' && isDesc), 'fa-sort-desc': (column == 'batch' && !isDesc) }" aria-hidden="true"> </i>
                </th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of coursePackageDatalist|paginate: { itemsPerPage: showEntries, currentPage: p, totalItems: coursePackageDatalist.length }|filter:term|orderBy: {property: column, direction: direction};let i= index;">
                <td>{{i+1}}</td>
                <td>{{data.courseName}}</td>
                <td>{{data.startDate | date}}</td>
                <td>{{data.endDate | date}}</td>
                <td> <span *ngFor="let dat of data.batch;let isLast=last;let isFirst = first">{{dat}} {{isLast|| isFirst ? '' : ','}}</span></td>
                <td>
                    <button class="btn btn-success" (click)="editSchedule(data)" data-toggle="modal" data-target="#myModal">Edit</button>&nbsp;
                    <button class="btn btn-danger" (click)="deleteSchedule(data)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
      <div class="pb-1 text-right">
        <pagination-controls maxSize="4" (pageChange)="p = $event"></pagination-controls>
      </div>
  </div>
</div>



<!-- End table -->

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" #modal data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <form [formGroup]="updateScheduleSpecificForm" (ngSubmit)="updateSchedule()">

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                              <label class="control-label">Course Name</label>
                          </div>
                          <div class="col-md-8">
                              <select class="form-control" formControlName="courseName" placeholder="Course Name">
                                  <option value="null" selected readonly>Select Course</option>
                                  <option *ngFor="let data of coursesDataarr" [value]="data">{{data}}</option>
                              </select>
                              <div class="alert alert-danger" *ngIf="scheduleData.courseName.invalid && (scheduleData.courseName.dirty||scheduleData.courseName.touched)">
                                  <div *ngIf="scheduleData.courseName.errors.required">
                                      Course Name is required
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4 ">
                              <label class="control-label">Branch</label>
                          </div>
                          <div class="col-md-8">

                              <div class="form-check-inline" formArrayName="branch" *ngFor="let branch of updateScheduleSpecificForm['controls'].branch['controls']; let i = index">
                                  <label class="checkbox-inline">
                                      <input type="checkbox" class="form-check-input" [formControlName]="i"> {{branchesData[i]}}
                                  </label>
                              </div>

                              <div class="alert alert-danger" *ngIf="scheduleData.branch.invalid && (scheduleData.branch.dirty||scheduleData.branch.touched)">
                                  <div *ngIf="scheduleData.branch.errors?.multipleCheckboxRequireOne">
                                      Branch Code is required(atleast 1 branch should be selected)
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4 ">
                              <label class="control-label">Start Date</label>
                          </div>
                          <div class="col-md-8">
                              <div class="input-group mb-3">
                                  <input type="text" class="form-control" placeholder="Start Date" #dp1="bsDatepicker" bsDatepicker formControlName="startDate" [bsConfig]="{ adaptivePosition: true }" aria-describedby="basic-addon2">
                                  <div class="input-group-append">
                                      <span class="input-group-text" (click)="dp1.toggle()" [attr.aria-expanded]="dp1.isOpen" id="basic-addon2"><i class="fas fa-calendar-alt"></i></span>
                                  </div>
                              </div>
                              <div class="alert alert-danger" *ngIf="scheduleData.startDate.invalid && (scheduleData.startDate.dirty||scheduleData.startDate.touched)">
                                  <div *ngIf="scheduleData.startDate.errors.required">
                                      Start date is required
                                  </div>
                                  <div *ngIf="!scheduleData.startDate.errors.required && scheduleData.startDate.invalid">
                                    Start date is invalid
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4 ">
                              <label class="control-label">End Date</label>
                          </div>
                          <div class="col-md-8">
                              <div class="input-group mb-3">
                                  <input type="text" class="form-control" #dp2="bsDatepicker" bsDatepicker formControlName="startDate" [bsConfig]="{ adaptivePosition: true }" placeholder="End Date" formControlName="endDate" aria-describedby="enddate">
                                  <div class="input-group-append">
                                      <span class="input-group-text" (click)="dp2.toggle()" [attr.aria-expanded]="dp2.isOpen" id="enddate"><i class="fas fa-calendar-alt"></i></span>
                                  </div>
                              </div>
                              <div class="alert alert-danger" *ngIf="scheduleData.endDate.invalid && (scheduleData.endDate.dirty||scheduleData.endDate.touched)">
                                  <div *ngIf="scheduleData.endDate.errors.required">
                                      End date is required
                                  </div>
                                  <div *ngIf="!scheduleData.endDate.errors.required && scheduleData.endDate.invalid">
                                      End date is invalid
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4 ">
                              <label class="control-label">Batch</label>
                          </div>
                          <div class="col-md-8">

                              <div class="form-check-inline" formArrayName="batch" *ngFor="let batch of updateScheduleSpecificForm['controls'].batch['controls']; let i = index">
                                  <label class="checkbox-inline">
                                      <input type="checkbox" class="form-check-input" [formControlName]="i"> {{batchesData[i]}}
                                  </label>
                              </div>

                              <div class="alert alert-danger" *ngIf="scheduleData.batch.invalid && (scheduleData.batch.dirty||scheduleData.batch.touched)">
                                  <div *ngIf="scheduleData.batch.errors?.multipleCheckboxRequireOne">
                                      Batch is required(atleast 1 batch should be selected)
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="text-right">
                          <button type="submit" class="btn btn-primary  col-md-8" [disabled]="!updateScheduleSpecificForm.valid ">Update</button>
                      </div>
                  </div>

              </form>
          </div>
          <!--// End Modal body -->

      </div>
  </div>
</div>

<!-- End modal -->
