<div class="container-fluid">
  <h5 class="text-center text-secondary my-2">Search Student</h5>
  <div class="bg-white p-3">
      <h5>Search Student</h5>
      <hr>
      <form [formGroup]="searchStudentForm" (ngSubmit)="submit()">

          <div class="form-group">
              <div class="row">
                  <div class="col-md-2">
                      <label class="control-label">Search By:</label>
                  </div>
                  <div class="col-md-6">

                      <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="name" formControlName="searchBy" value="name" name="searchBy" class="custom-control-input">
                          <label class="custom-control-label" for="name">Name</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="mobileNumber" formControlName="searchBy" value="mobileNumber" name="searchBy" class="custom-control-input">
                          <label class="custom-control-label" for="mobileNumber">mobileNumber</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="email" formControlName="searchBy" value="email" name="searchBy" class="custom-control-input">
                          <label class="custom-control-label" for="email">Email</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="course" formControlName="searchBy" value="course" name="searchBy" class="custom-control-input">
                          <label class="custom-control-label" for="course">Course</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="studentId" formControlName="searchBy" value="studentId" name="searchBy" class="custom-control-input">
                          <label class="custom-control-label" for="studentId">Student Id</label>
                      </div>

                  </div>
              </div>
          </div>

          <div class="form-group">
              <div class="row">
                  <div class="col-md-2">
                      <label class="control-label">Details:</label>
                  </div>
                  <div class="col-md-4" *ngIf="searchData.searchBy.value === 'name'">
                      <input class="form-control" formControlName="name" placeholder="Name">
                      <!-- <div class="alert alert-danger" *ngIf="searchData.name.invalid && (searchData.name.dirty||searchData.name.touched)">
                    <div *ngIf="searchData.name.errors.required">
                         Name is required
                    </div>
                </div> -->
                  </div>

                  <div class="col-md-4" *ngIf="searchData.searchBy.value === 'mobileNumber'">
                      <input class="form-control" formControlName="mobileNumber" placeholder="mobileNumber">
                      <!-- <div class="alert alert-danger" *ngIf="searchData.name.invalid && (searchData.name.dirty||searchData.name.touched)">
                  <div *ngIf="searchData.name.errors.required">
                       Name is required
                  </div>
              </div> -->
                  </div>

                  <div class="col-md-4" *ngIf="searchData.searchBy.value === 'email'">
                      <input class="form-control" formControlName="email" placeholder="Email">
                      <!-- <div class="alert alert-danger" *ngIf="searchData.name.invalid && (searchData.name.dirty||searchData.name.touched)">
                  <div *ngIf="searchData.name.errors.required">
                       Name is required
                  </div>
              </div> -->
                  </div>

                  <div class="col-md-4" *ngIf="searchData.searchBy.value === 'course'">
                      <input class="form-control" formControlName="course" placeholder="course">
                      <!-- <div class="alert alert-danger" *ngIf="searchData.name.invalid && (searchData.name.dirty||searchData.name.touched)">
                  <div *ngIf="searchData.name.errors.required">
                       Name is required
                  </div>
              </div> -->
                  </div>

                  <div class="col-md-4" *ngIf="searchData.searchBy.value === 'studentId'">
                      <input class="form-control" formControlName="studentId" placeholder="studentId">
                      <!-- <div class="alert alert-danger" *ngIf="searchData.name.invalid && (searchData.name.dirty||searchData.name.touched)">
                  <div *ngIf="searchData.name.errors.required">
                       Name is required
                  </div>
              </div> -->
                  </div>

              </div>
          </div>

          <div class="form-group">
              <button class="btn btn-primary " type="submit">Submit</button>&nbsp;
              <button class="btn btn-warning text-white" (click)="resetForm()">Reset</button>
          </div>

      </form>
      <table *ngIf="searchResult != null" class="table table-bordered table-striped table-hover text-center table-responsive-sm">
          <thead>
              <tr>
                  <th>S.No</th>
                  <th>Name</th>
                  <th>Contact Number</th>
                  <th>Email</th>
                  <th>Qualification</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let data of searchResult;let i= index">
                  <td>{{i+1}}</td>
                  <td>{{data.firstName}}</td>
                  <td>{{data.mobileNumber}}</td>
                  <td>{{data.email}}</td>
                  <td>{{data.qualification}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
