<div class="container">
  <div class="bg-white mt-5 p-2">
      <h5>List of All Course</h5>
      <hr>
      <div class="row">
          <div class="col-md-6  p-3">
              Show
              <select (change)="sortData($event)">
                  <option value="all">All</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
              </select> entries
          </div>
          <div class="col-md-3 ml-auto">
              <input type="text" placeholder="search" class="form-control" [(ngModel)]="term">
          </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="bg-white">
      <table class="table table-bordered table-striped table-hover text-center table-responsive-sm">
          <thead>
              <tr>
                  <th>S.no</th>
                  <th (click)="order('coursename')">
                      Course Name
                      <i class="fa" [ngClass]="{'fa-sort': column != 'coursename', 'fa-sort-asc': (column == 'coursename' && isDesc), 'fa-sort-desc': (column == 'coursename' && !isDesc) }" aria-hidden="true"> </i>
                  </th>
                  <th (click)="order('fees')">
                      Fee
                      <i class="fa" [ngClass]="{'fa-sort': column != 'fees', 'fa-sort-asc': (column == 'fees' && isDesc), 'fa-sort-desc': (column == 'fees' && !isDesc) }" aria-hidden="true"> </i>
                  </th>
                  <th (click)="order('servicetax')">
                      servicetax
                      <i class="fa" [ngClass]="{'fa-sort': column != 'servicetax', 'fa-sort-asc': (column == 'servicetax' && isDesc), 'fa-sort-desc': (column == 'servicetax' && !isDesc) }" aria-hidden="true"> </i>
                  </th>
                  <th (click)="order('totalfee')">
                      totalfee
                      <i class="fa" [ngClass]="{'fa-sort': column != 'totalfee', 'fa-sort-asc': (column == 'totalfee' && isDesc), 'fa-sort-desc': (column == 'totalfee' && !isDesc) }" aria-hidden="true"> </i>
                  </th>
                  <th (click)="order('seats')">
                      seats
                      <i class="fa" [ngClass]="{'fa-sort': column != 'seats', 'fa-sort-asc': (column == 'seats' && isDesc), 'fa-sort-desc': (column == 'seats' && !isDesc) }" aria-hidden="true"> </i>
                  </th>
                  <th>Action</th>

              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let data of sortedData|filter:term|orderBy: {property: column, direction: direction};let i= index;">
                  <td>{{i+1}}</td>
                  <td>{{data.coursename}}</td>
                  <td>{{data.fees}}</td>
                  <td>{{data.servicetax}}</td>
                  <td>{{data.totalfee}}</td>
                  <td>{{data.seats}}</td>
                  <td>
                      <button class="btn btn-success" (click)="editCoursedata(data)" data-toggle="modal" data-target="#myModal">Edit</button>&nbsp;
                      <button class="btn btn-danger" (click)="deleteCoursedata(data)">Delete</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

<!-- End table -->

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" #modal data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <form [formGroup]="updateCourseSpecificData" (ngSubmit)="updateCourse()">

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                              <label class="control-label">Course Name</label>
                          </div>
                          <div class="col-md-8">
                              <input class="form-control" formControlName="coursename" placeholder="Course Name">
                              <div class="alert alert-danger" *ngIf="courseData.coursename.invalid && (courseData.coursename.dirty||courseData.coursename.touched)">
                                  <div *ngIf="courseData.coursename.errors.required">
                                      Course Name is required
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4 ">
                              <label class="control-label">Branch</label>
                          </div>
                          <div class="col-md-8">

                              <div class="form-check-inline" formArrayName="branch" *ngFor="let branch of updateCourseSpecificData['controls'].branch['controls']; let i = index">
                                  <label class="checkbox-inline">
                                      <input type="checkbox" class="form-check-input" [formControlName]="i"> {{branchesData[i]}}
                                  </label>
                              </div>

                              <div class="alert alert-danger" *ngIf="courseData.branch.invalid && (courseData.branch.dirty||courseData.branch.touched)">
                                  <div *ngIf="courseData.branch.errors">
                                      Branch Code is required(atleast 1 branch should be selected)
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4 ">
                              <label class="control-label">Fees</label>
                          </div>
                          <div class="col-md-8">
                              <input class="form-control" formControlName="fees" placeholder="Fee" (keyup)="calculateTax()">
                              <div class="alert alert-danger" *ngIf="courseData.fees.invalid && (courseData.fees.dirty||courseData.fees.touched)">
                                  <div *ngIf="courseData.fees.errors.required">
                                      Branch Address is required
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                              <label class="control-label">Service Tax +(Eduction cess)</label>
                          </div>
                          <div class="col-md-8">
                              <input class="form-control" readonly="true" formControlName="servicetax" placeholder="Service Tax">
                              <div class="alert alert-danger" *ngIf="courseData.servicetax.invalid && (courseData.servicetax.dirty||courseData.servicetax.touched)">
                                  <div *ngIf="courseData.servicetax.errors.required">
                                      servicetax is required
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                              <label class="control-label">Total Fee</label>
                          </div>
                          <div class="col-md-8">
                              <input class="form-control" readonly="true" formControlName="totalfee" placeholder="Total Fee">
                              <div class="alert alert-danger" *ngIf="courseData.totalfee.invalid && (courseData.totalfee.dirty||courseData.totalfee.touched)">
                                  <div *ngIf="courseData.totalfee.errors.required">
                                      totalfee is required
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                              <label class="control-label">Seats</label>
                          </div>
                          <div class="col-md-8">
                              <input class="form-control" formControlName="seats" placeholder="seats">
                              <div class="alert alert-danger" *ngIf="courseData.seats.invalid && (courseData.seats.dirty||courseData.seats.touched)">
                                  <div *ngIf="courseData.seats.errors.required">
                                      seats is required
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="text-right">
                          <button type="submit" class="btn btn-primary" [disabled]="updateCourseSpecificData.invalid">Update</button>
                          &nbsp;
                          <button type="submit" class="btn btn-primary " data-dismiss="modal">Cancel</button>
                      </div>
                  </div>

              </form>
          </div>
          <!--// End Modal body -->

      </div>
  </div>
</div>

<!-- End modal -->
