<div class="container-fluid">

  <div class="add-page-tittle">
      <h5 class="add-section-heading my-3 text-center text-secondary">Student Identity Card</h5>
  </div>

  <div class="bg-white py-5">
      <div class="row d-print-none p-1">
          <div class="col-md-8">
              <form [formGroup]="generateIdCard" (ngSubmit)="Submit()">

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-2">
                              <label class="control-label">Student ID:</label>
                          </div>
                          <div class="col-md-6">
                              <input class="form-control" formControlName="studentId" placeholder="Student ID: ZTAM100">
                              <div class="alert alert-danger" *ngIf="generateIdCardData.studentId.invalid && (generateIdCardData.studentId.dirty||generateIdCardData.studentId.touched)">
                                  <div *ngIf="generateIdCardData.studentId.errors.required">
                                      StudentId is required
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-2"></div>
                          <div class="col-md-6">
                              <button type="submit" class="btn btn-primary col-md-12" [disabled]="!generateIdCard.valid ">Submit</button>
                          </div>
                      </div>
                  </div>

              </form>
          </div>
          <div class="col-md-4  ">
              <button class="btn btn-secondary" (click)="printIdCard()">Print</button>
          </div>
      </div>
      <!-- id card -->
      <div class="id-card mt-5">
        <div class="row id-row">
            <div class="col-md-6 idcard-name">
                <h4 class="id-card-title pt-2">STUDENT IDENTITY CARD</h4>
                <div class="row pt-3">
                    <div class="col-md-6">
                      <img src="../../../../assets/images/photo.jpg" class="img-fluid" alt="">
                      <p class="pt-2"><b> Date:</b>07/17/2014</p>
                    </div>
                    <div class="col-md-6 student-details">
                        <p>Name:	Jyothi Chiranjeev</p>
                        <p> Student ID:	ZTAM100</p>
                        <p>Branch:	Ameerpet</p>
                        <h6 class="text-right pt-4">Signature</h6>
                    </div>
                </div>
                <div class="text-center id-footer">
                  <p><b>Zoom Technologies (india).Pvt.Ltd</b> </p>
                  <p>Adj. to SBI,8-2-681 1/A/1/A,Road No. 12,Banjara Hills</p>
                  <p>Hyderabad-500 034. ph:+91-40-2339 4150</p>
                </div>
            </div>
            <div class="col-md-6 idcard-course">
                <div class="mt-2">
                    <table class="table table-bordered">
                       <tr>
                          <th>Course Name</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Batch</th>
                       </tr>
                       <tr>
                         <td>CCNA</td>
                         <td>09/15/2014</td>
                         <td>10 /15/2014</td>
                         <td>Evening</td>
                       </tr>
                    </table>
                </div>
                <div class="terms-course">
                  <p>Terms and conditions:</p>
                    <ol>
                      <li>Students should carry ID card daily.</li>
                      <li>Laptop, CD'S, Floppies, Pendrive, Bags etc. are not allowed in classroom.</li>
                      <li>No batch shifting will be entertained.</li>
                    </ol>
                </div>
            </div>
        </div>
      </div>
      <!-- end id card -->
  </div>
</div>
