<div class="container-fluid">

  <div class="add-page-tittle">
      <h5 class="add-section-heading my-3 text-center text-secondary">Student Identity Card</h5>
  </div>

  <div class="bg-white py-5" >
      <div class="row p-1">
          <div class="col-md-8">
            <form [formGroup]="generateIdCard" (ngSubmit)="Submit()">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="control-label">Student ID:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" formControlName="studentId" placeholder="Student ID: ZTAM100">
                            <div class="alert alert-danger" *ngIf="generateIdCardData.studentId.invalid && (generateIdCardData.studentId.dirty||generateIdCardData.studentId.touched)">
                                <div *ngIf="generateIdCardData.studentId.errors.required">
                                    StudentId is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-6">
                      <button type="submit" class="btn btn-primary col-md-12" [disabled]="!generateIdCard.valid ">Submit</button>
                    </div>
                  </div>
                </div>

            </form>
          </div>
          <div class="col-md-4  ">
            <button class="btn btn-secondary">Print</button>
          </div>
      </div>
  </div>
</div>
