<div class="container-fluid">



  <div class="bg-white  mt-5 p-2">
      <h5>List of All Branch</h5>
      <hr>
      <div class="row ">
          <div class="col-md-6  p-3">
              Show
              <select (change)="changeCount($event)" name="show">
                  <option selected="selected" [value] ="branchDatalist.length">All</option>
                  <option value="2">2</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
              </select> entries

          </div>
          <div class="col-md-3 ml-auto">
              <input type="text" placeholder="search" class="form-control" [(ngModel)]="term">
          </div>
      </div>

      <table class="table table-bordered table-striped table-hover text-center table-responsive-sm">
        <thead>
            <tr>
                <th>S.no</th>
                <th (click)="order('branchName')">
                    Branch Name
                    <i class="fa" [ngClass]="{'fa-sort': column != 'branchName', 'fa-sort-asc': (column == 'branchName' && isDesc), 'fa-sort-desc': (column == 'branchName' && !isDesc) }" aria-hidden="true"> </i>
                </th>
                <th (click)="order('branchCode')">
                    Branch Code
                    <i class="fa" [ngClass]="{'fa-sort': column != 'branchCode', 'fa-sort-asc': (column == 'branchCode' && isDesc), 'fa-sort-desc': (column == 'branchCode' && !isDesc) }" aria-hidden="true"> </i>
                </th>
                <th (click)="order('branchAddress')">
                    Branch Address
                    <i class="fa" [ngClass]="{'fa-sort': column != 'branchAddress', 'fa-sort-asc': (column == 'branchAddress' && isDesc), 'fa-sort-desc': (column == 'branchAddress' && !isDesc) }" aria-hidden="true"> </i>
                </th>
                <th (click)="order('branchContactNumber')">
                    Contact Number
                    <i class="fa" [ngClass]="{'fa-sort': column != 'branchContactNumber', 'fa-sort-asc': (column == 'branchContactNumber' && isDesc), 'fa-sort-desc': (column == 'branchContactNumber' && !isDesc) }" aria-hidden="true"> </i>
                </th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of branchDatalist| paginate: { itemsPerPage: showEntries, currentPage: p, totalItems: branchDatalist.length }|filter:term|orderBy: {property: column, direction: direction};let i= index;">
                <td>{{i+1}}</td>
                <td>{{data.branchName}}</td>
                <td>{{data.branchCode}}</td>
                <td>{{data.branchAddress}}</td>
                <td>{{data.branchContactNumber}}</td>
                <td>
                    <button class="btn btn-success" (click)="editBranchdata(data)" data-toggle="modal" data-target="#myModal">Edit</button>&nbsp;
                    <button class="btn btn-danger" (click)="deleteBranchdata(data)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pb-1 text-right">
      <pagination-controls  (pageChange)="p = $event"></pagination-controls>
    </div>

  </div>
</div>


<!-- End table branch data -->

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" #modal data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <form [formGroup]="updatebranchSpecificData" (ngSubmit)="updateBranch()">
                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                              <label class="control-label">Branch Name</label>
                          </div>
                          <div class="col-md-8">
                              <input class="form-control" formControlName="branchName" placeholder="Branch Name">
                              <div class="alert alert-danger" *ngIf="branchData.branchName.invalid && (branchData.branchName.dirty||branchData.branchName.touched)">
                                  <div *ngIf="branchData.branchName.errors.required">
                                      Branch Name is required
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4 ">
                              <label class="control-label">Branch Code</label>
                          </div>
                          <div class="col-md-8">
                              <input class="form-control" formControlName="branchCode" placeholder="Branch Code">
                              <div class="alert alert-danger" *ngIf="branchData.branchCode.invalid && (branchData.branchCode.dirty||branchData.branchCode.touched)">
                                  <div *ngIf="branchData.branchCode.errors.required">
                                      Branch Code is required
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4 ">
                              <label class="control-label">Branch Address</label>
                          </div>
                          <div class="col-md-8">
                              <textarea class="form-control" rows="2" formControlName="branchAddress" placeholder="Branch Address">
                              </textarea>
                              <div class="alert alert-danger" *ngIf="branchData.branchAddress.invalid && (branchData.branchAddress.dirty||branchData.branchAddress.touched)">
                                  <div *ngIf="branchData.branchAddress.errors.required">
                                      Branch Address is required
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                              <label class="control-label">Contact Number</label>
                          </div>
                          <div class="col-md-8">
                              <input type="text" maxlength="10" minlength="10" class="form-control" formControlName="branchContactNumber" placeholder="Branch Contact Number">
                              <div class="alert alert-danger" *ngIf="branchData.branchContactNumber.invalid && (branchData.branchContactNumber.dirty||branchData.branchContactNumber.touched)">
                                  <div *ngIf="branchData.branchContactNumber.errors?.required">
                                      Branch Contact Number is required
                                  </div>
                                  <div *ngIf="branchData.branchContactNumber.errors?.pattern">
                                    Branch Contact Number should be digits only
                                  </div>
                                  <div *ngIf="!branchData.branchContactNumber.errors?.pattern &&(branchData.branchContactNumber.errors?.maxlength || branchData.branchContactNumber.errors?.minlength)">
                                    Branch Contact Number should be 10 digits
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="text-right">
                          <button type="submit" class="btn btn-primary" [disabled]="updatebranchSpecificData.invalid">Update</button>
                          &nbsp;
                          <button type="submit" class="btn btn-primary " data-dismiss="modal">Cancel</button>
                      </div>
                  </div>

              </form>
          </div>
          <!--// End Modal body -->

      </div>
  </div>
</div>
