<div class="container mt-5">
  <div class="col-md-6  mx-auto">
      <div class="card">
          <h5 class="card-header text-center">Change Password</h5>
          <div class="card-body">
              <form [formGroup]="changePassword" (ngSubmit)="submit()">

                  <div class="form-group">
                      <label>Old password</label>
                      <input type="password" class="form-control" formControlName="oldPassword" placeholder="Old Password" required>
                      <div class="alert alert-danger" *ngIf="passwordData.oldPassword.invalid && (passwordData.oldPassword.dirty||passwordData.oldPassword.touched)">
                        <div *ngIf="passwordData.oldPassword.errors.required">
                            Old Password is required
                        </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label>New Password</label>
                      <input type="password" class="form-control" formControlName="newPassword"  placeholder="Password" required>
                      <div class="alert alert-danger" *ngIf="passwordData.newPassword.invalid && (passwordData.newPassword.dirty||passwordData.newPassword.touched)">
                        <div *ngIf="passwordData.newPassword.errors.required">
                            New Password is required
                        </div>
                      </div>
                  </div>

                  <div class="form-group">
                    <label>Confirm New Password</label>
                    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" required>
                    <div class="alert alert-danger" *ngIf="passwordData.confirmPassword.invalid && (passwordData.confirmPassword.dirty||passwordData.confirmPassword.touched)">
                        <div *ngIf="passwordData.confirmPassword.errors.required">
                            Confirm Password  is required
                        </div>
                        <div *ngIf="passwordData.confirmPassword.errors?.mustMatch">
                          Passwords doesn't Match
                        </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="changePassword.invalid">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
