<div class="container-fluid no-gutters">

  <div class="add-page-tittle">
      <h5 class="add-section-heading my-3 mx-3 text-secondary">Add New Branch</h5>
  </div>

  <div class="bg-white  py-5">
      <div class="col-md-8 ">
          <form [formGroup]="branchSpecificData" (ngSubmit)="Submit()">

              <div class="form-group">
                  <div class="row">
                      <div class="col-md-4">
                          <label class="control-label">Branch Name</label>
                      </div>
                      <div class="col-md-8">
                          <input class="form-control" formControlName="branchName" placeholder="Branch Name">
                          <div class="alert alert-danger" *ngIf="branchData.branchName.invalid && (branchData.branchName.dirty||branchData.branchName.touched)">
                              <div *ngIf="branchData.branchName.errors.required">
                                  Branch Name is required
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="form-group">
                  <div class="row">
                      <div class="col-md-4 ">
                          <label class="control-label">Branch Code</label>
                      </div>
                      <div class="col-md-8">
                          <input class="form-control" formControlName="branchCode" placeholder="Branch Code">
                          <div class="alert alert-danger" *ngIf="branchData.branchCode.invalid && (branchData.branchCode.dirty||branchData.branchCode.touched)">
                              <div *ngIf="branchData.branchCode.errors.required">
                                  Branch Code is required
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="form-group">
                  <div class="row">
                      <div class="col-md-4 ">
                          <label class="control-label">Branch Address</label>
                      </div>
                      <div class="col-md-8">
                          <textarea class="form-control" rows="2" formControlName="branchAddress" placeholder="Branch Address">
                          </textarea>
                          <div class="alert alert-danger" *ngIf="branchData.branchAddress.invalid && (branchData.branchAddress.dirty||branchData.branchAddress.touched)">
                              <div *ngIf="branchData.branchAddress.errors.required">
                                  Branch Address is required
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="form-group">
                  <div class="row">
                      <div class="col-md-4">
                          <label class="control-label">Contact Number</label>
                      </div>
                      <div class="col-md-8">
                          <input type="text" maxlength="10" minlength="10" class="form-control" formControlName="branchContactNumber" placeholder="Branch Contact Number">
                          <div class="alert alert-danger" *ngIf="branchData.branchContactNumber.invalid && (branchData.branchContactNumber.dirty||branchData.branchContactNumber.touched)">
                              <div *ngIf="branchData.branchContactNumber.errors?.required">
                                  Branch Contact Number is required
                              </div>
                              <div *ngIf="branchData.branchContactNumber.errors?.pattern">
                                Branch Contact Number should be digits only
                              </div>
                              <div *ngIf="!branchData.branchContactNumber.errors?.pattern &&(branchData.branchContactNumber.errors?.maxlength || branchData.branchContactNumber.errors?.minlength)">
                                Branch Contact Number should be 10 digits
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="form-group">
                  <div class="text-right">
                      <button type="submit" class="btn btn-primary  col-md-8" [disabled]="!branchSpecificData.valid ">Submit</button>
                  </div>
              </div>

          </form>
      </div>
  </div>
</div>

