@media(min-width:1024px) {
  .logout{
    margin: 0 !important;
  }
  .technologies{
    font-size:25px ;
  }
}

@media(max-width:768px) {
  .title-zoom{
    font-size: 25px;
  }
}

.user-icon{
width: 30px;
height: auto;
}

.technologies{
color: #0044DD;
}
.title-zoom{
font-family:"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
color:#999999;

}

