<nav class="navbar navbar-expand-sm navbar-light bg-white header">
  <a class="navbar-brand" href = "javascript:void(0)"><h2 class="title-zoom">Zoom<span class="technologies">Technologies</span></h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="nav navbar-nav logout">
          <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href = "javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="../../../../assets/images/user-icon.png" class="user-icon" alt=""> Welcome Ch srinivasu
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href = "javascript:void(0)"><i class="far fa-edit"></i>&nbsp;Change password</a>
                  <a class="dropdown-item" (click)="logOut()"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
              </div>
          </li>
      </ul>
  </div>
</nav>

<hr class="m-0">
